###########
.svn
# JAVA Build #
###########

.settings
.idea
.project
.classpath
.class
target
out
*.bak

=======
.svn

# JAVA Build #
###########

.settings
.idea
.project
.classpath
out
/target/
*.bak
*.jar
/classes/



##############

src/main/webapp/WEB-INF/resources/phantomjs/
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/logdb/

